<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="imagens/facai.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/index-style.css">
    <link rel="stylesheet" href="css/nav-style.css">
    <link rel="stylesheet" href="css/footer-style.css">
    <link rel="stylesheet" href="css/faq-style.css">
    <script src="js/script.JS" defer></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;900&display=swap" rel="stylesheet">

    <script src="https://use.fontawesome.com/a2aaf93c90.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>Façaí do Seu Jeito</title>

</head>

<body>

    <header>
        <div class="container">
            
            <div class="content-header">

                <picture class="logo">
                    <source media="(max-width: 500px )" srcset="imagens/logofacai.png" type="image/png">
                    <img class="logo" src="imagens/logo.png" alt="Logo Façaí">
                </picture>

                <button class="open-nav">
                    <span class="line line_1"></span>
                    <span class="line line_2"></span>
                    <span class="line line_3"></span>
                </button>
                <nav class="menu">
                    <ul class="list-menu">
                        <li><a href="planos.html">Planos</a></li>
                        <li><a href="delivery.html">Delivery</a></li>
                        <li><a href="Sobre-o-clube.html">Sobre o Clube</a></li>
                        <li><a href="Eventos.html">Para Eventos</a></li>
                        <li ><a href="contato.html">Contato</a></li>
                        <li class="btn-area-de-membros"><a href="area-de-membros.html">Área do Cliente</a></li>
                        <li><a id="i-whatsapp"  href="https://wa.me/558382108331" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                        <li><a id="i-instagram" href="https://www.instagram.com/facaidoseujeito" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a id="i-facebook" href="https://www.facebook.com/facaidoseujeito" target="_blank"><i class="fa fa-facebook"></i></a></li>

                        <div class="lista-menu-mobile">
                            <li id="i-whatsapp-mobile"><a  href="https://wa.me/558382108331" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                            <li id="i-instagram-mobile"><a href="https://www.instagram.com/facaidoseujeito" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            <li id="i-facebook-mobile"><a href="https://www.facebook.com/facaidoseujeito" target="_blank"><i class="fa fa-facebook"></i></a></li> 
                        </div>
                    </ul>
                </nav>

            </div> 

        </div>
    </header>


    <picture>
        <source media="(max-width: 600px )" srcset="imagens/testep.jpg" type="image/jpg">
            <img class="imagem1" src="imagens/teste.jpg" alt="">
    </picture>
    

    <div class="headline">
        <h2 class="texto-na-imagem">Viaje pelos sabores do nosso açaí,<br>todo mês sem sair de casa</h2>
        <a id="btn_plano" href="planos.html">Escolha Seu Plano</a>
    </div>

<main>
    <div>
        <div class="section-funcionamento">
            <div class="titulo-funcionamento">
                <h1 class="h1-funcionamento"><a>Como funciona?</a></h1>
            </div>
            <section class="funcionamento">
                <article class="box-funcionamento">
                    
                    <h3><i class="fa fa-car"></i> <br>
                        CURADORIA</h3>
                    <p>Nossa equipe, analisa com cuidado seu pedido e o prepara com muita atenção</p>
                </article>
                <article class="box-funcionamento">
                    <h3><i class="fa fa-archive"></i> <br>MONTAGEM</h3>
                    <p>Elaboramos kits de acordo com suas preferências e gostos.</p>
                </article>
                <article class="box-funcionamento">
                    <h3><i class="fa fa-home"></i> <br>ENTREGA</h3>
                    <p>Receba os kits em casa ou envie como presente. Frete Grátis!</p>
                </article>
            </section>
        </div>    
    </div>
    <hr>
    
    <div class="titulo-lista-clube">
        <h3>O que você encontra no clube?</h3>
    </div>


    <div class="foto-e-lista">
            <div class="foto-facai"><img class="fotofacai" src="imagens/foto-facai.jpg" alt="Façaí"></div>
            <div class="lista">
                <ul class="lista-clube">
                    
                    <li><i class="fa fa-plane"></i> Sorteios de viagens</li> <br>
                    <li><i class="fa fa-dollar"></i> Sorteios de PIX</li> <br>
                    <li><i class="fa fa-gift"></i> Mimos Exclusivos</li> <br>
                    <li><i class="fa fa-money"></i> Açaí Grátis</li> <br>
                    <li><i class="fa fa-percent"></i> Descontos nas lojas façaí</li> <br>
                    <li><i class="fa fa-signal"></i> Acesso gratuio a serviços de Streaming </li> <br>
                    <li><i class="fa fa-users"></i> Área de Membros no Site</li> <br>
                    <li><i class="fa fa-glass"></i> Acesso a Eventos Exclusivos</li> 
                </ul>
            </div>
    </div>
    
    <div class="titulo-garantia">
        <h3>Garantia de nossos produtos</h3>
    </div>

    <div class="section-garantia">
        <div class="box-garantia">
            <h3><i class="fa fa-heart"></i> <br>DIRETO DA DISTRIBUIDORA LOCAL</h3>
        </div>
        <div class="box-garantia">
            <h3><i class="fa fa-users"></i> <br>PRODUÇÃO ARTESANAL E FAMILIAR</h3>
        </div>
        <div class="box-garantia">
            <h3><i class="fa fa-paw"></i> <br>RESPEITO AO MEIO AMBIENTE</h3>
        </div>
        <div class="box-garantia">
            <h3><i class="fa fa-industry"></i> <br>COMIDA DE VERDADE,
                    NÃO ULTRAPROCESSADA</h3>
        </div>
    </div>
    <div class="section-proximos-envios">
        <h3>Próximos envios</h3>
    </div>
    <div class="titulo-btn"><h3>Faça parte do clube</h3></div>
    <div class="section-btn">
        <a class="btn-plano1" href="planos.html">Escolha Seu Plano</a>
    </div>
    <div class="section-video">
        <h1>[VIDEO AQUI]</h1>
    </div>
    <!-------------------------------------------------------------------------->
    <a class="btn_whatsapp" href="https://wa.me/558382108331" target="_blank">
            <i class="fa fa-whatsapp"></i></a>

    <div class="faq">
        <a class="titulo-faq" name="duvidas">Dúvidas Frequentes</a>
        <div id="faq-box1">
            <h1>O que é o Klickpages? ▼</h1>
            <p id="duvida1">O Klickpages é uma ferramenta de construção e publicação de páginas na internet voltada para lançamentos com funcionalidades especiais para facilitar a sua execução.</p>
        </div>
        <div id="faq-box2">
            <h1>O que é o Klickpages? ▼</h1>
            <p id="duvida2">O Klickpages é uma ferramenta de construção e publicação de páginas na internet voltada para lançamentos com funcionalidades especiais para facilitar a sua execução.</p>
        </div>
        <div id="faq-box3">
            <h1>O que é o Klickpages? ▼</h1>
            <p id="duvida3">O Klickpages é uma ferramenta de construção e publicação de páginas na internet voltada para lançamentos com funcionalidades especiais para facilitar a sua execução.</p>
        </div>
        <div id="faq-box4">
            <h1>O que é o Klickpages? ▼</h1>
            <p id="duvida4">O Klickpages é uma ferramenta de construção e publicação de páginas na internet voltada para lançamentos com funcionalidades especiais para facilitar a sua execução.</p>
        </div>
        <div id="faq-box5">
            <h1>O que é o Klickpages? ▼</h1>
            <p id="duvida5">O Klickpages é uma ferramenta de construção e publicação de páginas na internet voltada para lançamentos com funcionalidades especiais para facilitar a sua execução.</p>
        </div>
        <div id="faq-box6">
            <h1>O que é o Klickpages? ▼</h1>
            <p id="duvida6">O Klickpages é uma ferramenta de construção e publicação de páginas na internet voltada para lançamentos com funcionalidades especiais para facilitar a sua execução.</p>
        </div>
        <div class="resposta">
            <p>Não encontrou uma resposta? <a href="contato.html">Então escreva para a gente!</a></p>
        </div>
    </div>
</main>

    <footer>
        <div class="largura-maxima-rodape">
            <div class="prerodape">
                <div id="menu-rodape" class="menu-rodape">
                    <h3>Façaí Do Seu Jeito</h3>
                    <ul class="list-menu">
                        <li><a href="index.html">Página Inicial</a></li>
                        <li><a href="planos.html">Planos</a></li>
                        <li><a href="planos.html">Sobre o Clube</a></li>
                        <li><a href="delivery.html">Delivery</a></li>
                        <li><a href="#">Contato</a></li>
                        
                        <li><a href="login.html">Login</a></li>
                    </ul>
                </div>
                <div id="menu-rodape" class="redes-sociais">
                    <h3>CURTA E FALE CONOSCO</h3>
                    <ul>
                        <li><a href="https://wa.me/558382108331" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                        <li><a href="https://www.instagram.com/facaidoseujeito" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.facebook.com/facaidoseujeito" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                </div>
                <div id="menu-rodape" class="formas-de-pagamento">
                    <h3>FORMAS DE PAGAMENTO</h3>
                    <img class="pagamento" src="imagens/Formasdepagamento1.png" alt="Formas de pagamento">
                </div>
            </div>
            
            <div class="rodape">
                    <p>Todos os direitos resevados &copy;Façaí do seu jeito <br> Centro - Princesa Isabel - Paraíba - CEP: 00000-000 | CNPJ: 00.000.000/0000-00</p>
            </div>
        </div>
    </footer>
</body>
</html>